/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* ur */


:root {
    /* основні шрифти */
    --main-font:'Roboto', sans-serif; 
    --secondary-font:'Raleway', sans-serif;
    /* кольори тексту */
    --primary-color: #212121;
    --accent-color: #2196F3;
    --color-text: #757575;
    --white-text: #ffffff;
}
body {
    font-family:var(--main-font);
    font: size 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #e5e5e5;
}
/* indexhtml*/

/*header indexhtml and portfolio */
.header-link{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color:black;
}
.header-link-txt {
    color: var(--accent-color);
}
.nav-list {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color) ;
}
.nav-link:hover,
.nav-link:focus
.nav-link {
color: var(--accent-color);
}
/* header contacts*/
.header-contacts {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
}
.header-mail {
    color: var(--color-text);
}
.header-phone {
    color: var(--color-text);
}

a {
    color: var(--primary-color);
}
.header-mail:hover, :focus {
color: var(--accent-color);
}
.header-phone:hover,:focus {
    color: var(--accent-color);
}
/* efectdecision */
.efectdecision {
    background-color:#2F303A ;
}
.efectdecision-title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;

    color: var(--white-text);
}
.efectdecision-button {
font-family: var(--main-font);
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
background-color: var(--accent-color);
    color: var(--white-text);
}
.efectdecision-button {
    cursor:pointer;
}

 


/* quality */
.quality-subtitle 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: var(--primary-color) ;
}
.quality-text 
{
font-family: var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--color-text);
}
/* title */
.comand {
    background-color: #F5F4FA;
}
.secondtitle {
font-family: var(--main-font);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color:var(--primary-color) ;
}
.secondtitle-comand {
        font-family: var(--main-font);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color:var(--primary-color) ;
}
.comand-subtitle {
font-family:var(--main-font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
}
.comand-text {
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color: var(--color-text);
}
.comand-image 
{
    background-image: url() ;
}
/* footer indexhtml and portfolio */
.footer {
    background-color: #2F303A;
    ;
}
.footer-address {
font-family:var(--main-font);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--white-text);
}
.footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:0.83;
    letter-spacing: 0.03em;
    color: var(--white-text);
}
.footer-txt {
    color: var(--accent-color);
}   
.footer-mail {
font-family:var(--main-font);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255,0.6);
}
.footer-phone {
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255,0.6);
}
a {
    text-decoration: none;
}
/* portfolio */
/* section-main */
.button-item {
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-color);
background-color: #F5F4FA;
}
.button-first {
font-family: var(--main-font);
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
    color: var(--primary-color);
    background-color: #F5F4FA;
}
button:hover {
    background-color:var(--accent-color);
    color: var(--white-text);
}
.button {
    cursor:pointer;
}
.main-title {
font-family: var(--main-font);
font-size: 18px;
font-weight: 700;
line-height: 2.0;
letter-spacing: 0.06em;
text-align: left;
color: var(--primary-color);
}
.main-text {
    font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color:var(--color-text);
}
 .link-current {
    color: var(--accent-color);
    text-decoration: none;
 }
 .link-current:hover
 .link-current:focus

 /* контейнери */
 /* container-header */
 *,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
.container-header {
    padding-top:24px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.container-headlink {
    display: flex;
}
.header-link {
    display: flex;
    align-items: center;
    margin-right: 93px;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-item {
    display: block;
    margin-right: 50px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
/* Эффективные решения */
.efectdecision 
{   padding-top:200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.efectdecision-title {
    margin: 0px auto;
    margin-bottom: 30px;
}
button {
    min-width: 200px;
    padding: 10px 32px;
}
.efectdecision-title {
    width: 696px;
    height: 120px;
}
/* Качества */
.quality {
    width: 1200px;    
margin-right: auto;
margin-left: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.quality-list {
    display: flex;
}
.quality-item {
    margin-right: 30px;
}
.margin-subtitle {
margin-bottom: 10px;
}
.quality-text {
    width: 270px;
    height: 75px;
}
/* Чем мы занимаемся */
.whatwedo 
{    width: 1200px;    
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding-bottom: 94px;    
}
.whatwedo {
    padding-bottom: 94px;
    }
.secondtitle {
    margin-bottom: 50px;
}
.secondtitle-comand {
    padding-top:94px;
}
.whatwedo-list {
    display: flex;
}
.whatwedo-item {
    margin-right: 30px;
}
/* Наша команда */
.container-comand 
{
width: 1200px;    
margin-right: auto;
margin-left: auto;
}
.comand-list {
    display: flex;
}
.comand-item {
    margin-right: 30px;
}
.comand-general {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* container-footer html portfolio*/
.container-footer {
    width: 1200px;
    padding: 60px 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-addresstext {
    margin-top: 20px;
    margin-bottom: 9px;
}
.footer-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;  
    margin-bottom: 9px;
}

}
/* portfolio blocks*/
.container {  
}
.main {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 94px;
    padding-bottom: 94px;   
}
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-list-top:last-child {
margin-right: 0px;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
}
.main-item {
    margin-right:30px;
    justify-content: center;
}
.main-image {
    display: block;
    margin-bottom: 30px;
    
}
.main-image:nth-child(3n) {
    margin-right: 0px;
}
.container-text {
   padding:20px 24px;
}
.main-text:not(:last-child) {
    margin-top:4px;
}
.button-item {
    border-radius: 4px;
    border: none;
    margin-right: 8px;  
}
.button-first {
    min-width: 73px;
    border-radius: 4px;
    border: none;
    margin-right: 8px;       
    }
.button-item:last-child {
        margin-right: 8px;
        }
          /*Начертание лінії  */
.container-header {
    border-bottom: 1px solid;
    color: #ececec;
} 

